asttokens==3.0.0
attrs==25.3.0
certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
execnet==2.1.1
executing==2.2.0
icecream==2.1.5
idna==3.10
iniconfig==2.1.0
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
MarkupSafe==3.0.2
packaging==25.0
pillow==11.3.0
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.1
pytest-dotenv==0.5.2
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-xdist==3.8.0
python-dotenv==1.1.1
referencing==0.36.2
requests==2.32.4
requests-toolbelt==1.0.0
rpds-py==0.26.0
ruff==0.12.1
urllib3==2.5.0
